@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';

.root {}

.title {
  composes: responsiveTitle1 from './typography.module.css';
}

.mainImage {
  display: block;
  position: relative;
  background: var(--color-very-light-gray);
  padding-bottom: calc(9 / 16 * 100%);

  @nest & img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    vertical-align: top;
    object-fit: cover;
  }
}

.mainContent {
  @nest & h2, & h3, & h4, & h5, & h6 {
    font-weight: 600;
  }

  @nest & figure {
    margin: 0;
    padding: 0;

    @nest & img {
      max-width: 100%;
    }
  }
}

.metaContent {
}
