.react-share__ShareButton {
  margin-right: 1rem;
}

.react-share__ShareButton a svg:hover rect {
  fill: var(--link-color) !important;
}
 
.btnFab {
  background-color: transparent;
  border: medium none;
  padding: 0px;
  font: inherit;
  color: inherit;
  cursor: pointer;

  background-color: #F44336;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: #F44336;

  border: none;
  outline: none;
  color: #FFF;

  font-size: 23px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: .3s;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.btnFab:focus {
  transform: scale(1.1);
}

.pullRight {
  float: right;
}
